body {
    font-family: 'Open Sans', sans-serif;
}
.jumbotron1 {
    background-image: url(img/slide1.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner {
    height: 30px;
}
.my-nav {
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px !important;
    background: none !important;
    margin-top: 3rem;
}    

.navbar {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
.pitbull {
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.curved {
    display: block;
}
.jumbotron2 {
    background-image: url(./img/about.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content:center;
}
/* Hover over nav link animation */
@media screen and (min-width: 650px) {
    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s;
    }
    .nav-link:hover::after {
        width: 85%;
        transition: width .3s;
    }
}
@media screen and (max-width: 700px) {
    .pitty {
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .pitbull {
        font-size: 70px;
    }
}
/* Change background color & Fix to Top */
.my-navbg {
    position: fixed;
    top:0;
    background-color:black !important;
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px !important;
    opacity: 0.9;
    transition: 0.4s;
    color:white !important;
}
body {
    animation: fadein 400ms;
}
@keyframes fadein {
        from {
          opacity: 0;
        }
      
        to {
          opacity:1;
        }
}
.shelter a {
    text-decoration: none;
    color: black;
}
