.jumbotron1 {
    background-image: url(/img/slide1.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner {
    height: 30px;
}
.my-nav {
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px !important;
    background: none !important;
}
.my-nav.scrolled {
    background-color: black !important;
}    

.navbar {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
.pitbull {
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
}
h1 {
    font-family: 'Shadows Into Light', cursive;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.curved {
    display: block;
}
.jumbotron2 {
    background-image: url(./img/about.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content:center;
}
@media screen and (min-width: 960px) {
    .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s;
    }
    .nav-link:hover::after {
        width: 85%;
        transition: width .3s;
    }
}